# Ignorar arquivos e diretórios específicos do Poetry
/.venv/
/.venv*/

# Ignorar arquivos de lock do Poetry
poetry.lock

# Ignorar arquivos e diretórios específicos do Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.sqlite3

# Ignorar arquivos de mídia do Django (se aplicável)
media/

# Ignorar arquivos de configuração do Django (se aplicável)
*.settings

# Ignorar arquivos de compilação do Django (se aplicável)
*.pyc
*.pyo
*.pyd

# Ignorar diretório .vscode
.vscode/

